*,*:before,*::after {
    box-sizing: border-box;
}
body
{margin: 0;
    font-family: 'Poppins', sans-serif;  
}



.container {
    width: 800px;
    margin: 0 auto ;
}

.header {
    background-color: #000;
}
.header__wrapper {
    height: 100px;
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.nav _link {
    color: wite;
    text-transform: uppercase;
}
